.trilhas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.trilha-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.trilha-card h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #2b4c7e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-back {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* TRILHA CONCLUÍDA */
.trilha-card.concluida {
    background: #d4ffd4;
    border-left: 6px solid #2ecc71;
    transition: 0.3s;
}

/* QUIZ CONCLUÍDO */
.quiz-card.concluido {
    background: #d4eaff;
    border-left: 6px solid #3498db;
    transition: 0.3s;
}
